@font-face {
  font-family: "inter";
  src: url("/fonts/inter/Inter-VariableFont_slnt,wght.ttf")
    format("truetype-variations");
  font-weight: 1 999;
  font-display: swap;
}

@font-face {
  font-family: "SourceCodePro";
  src: url("/fonts/SourceCodePro/SourceCodePro-VariableFont_wght.ttf")
    format("truetype-variations");
  font-weight: 1 999;
  font-display: swap;
}

html,
body {
  padding: 0;
  margin: 0;
  color: white;
}

pre code.hljs {
  display: inline-block !important;
}

pre code {
  width: 100%;
}

.prose {
  max-width: 100%;
}

.prose > *:first-child {
  margin-top: 0 !important;
}

.prose > *:last-child {
  margin-bottom: 0 !important;
}

.prose :where(.prose > ul > li > *:last-child):not(:where([class~="not-prose"] *)) {
  margin: 0;
}

.prose :where(.prose > ul > li > *:first-child):not(:where([class~="not-prose"] *)) {
  margin: 0;
}

.prose :where(ul ul, ul ol, ol ul, ol ol):not(:where([class~="not-prose"] *)) {
  margin: 0;
}

body {
  min-height: 100vh;
}

/* Change the white to any color */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  color: white;
  box-shadow: 0 0 0 30px #262525 inset !important;
  -webkit-box-shadow: 0 0 0 30px #262525 inset !important;
  -webkit-text-fill-color: white !important;
}

/* Typer */
.cursor-blink {
  -webkit-animation: blink 1s infinite;
  animation: blink 1s infinite;
}

@-webkit-keyframes blink {
  0% {
    background: transparent;
  }
  50% {
    background: rgb(238 38 38);
  }
  100% {
    background: transparent;
  }
}

@keyframes blink {
  0% {
    background: transparent;
  }
  50% {
    background: rgb(238 38 38);
  }
  100% {
    background: transparent;
  }
}
