<html lang="en">
  <head>
    <meta charSet="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>BrickHub</title>
    <style global>
      @import "../styles/global.css";
    </style>
  </head>
  <body class="font-sans">
    <div class="flex flex-col items-center justify-center h-screen">
      <img src="images/brickhub.svg" class="w-52" />
      <h1 class="text-3xl">Coming Soon...</h1>
    </div>
  </body>
</html>
